.Footer {
  background-color: #000;
  padding-block: 20px;
  margin-top: 80px;

  .content {
    display: flex;
    justify-content: space-between;

    .title {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 20px;
      color: #c3073f;
    }

    .footer-left {
      .follow {
        list-style: none;
        display: flex;
        gap: 8px;

        li {
          width: 36px;
          height: 36px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: #c3073f;
          }
        }
      }
    }

    .footer-right {
      color: #c3073f;
      .company {
        list-style: none;
        li {
          margin-top: 10px;
          color: white;
          font-size: 1rem;

          &:hover {
            color: #c3073f;
          }
        }
      }
    }
  }

  .sub-footer {
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

    p {
      color: #c3073f;
      font-family: "Poppins";
    }

    .credit-card-img {
      width: 200px;
      text-align: center;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    .content {
      flex-direction: column;
      gap: 40px;
    }
  }
}
