* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background-color: #1a1a1d;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 20px;
  overflow: hidden;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.primary-button {
  border: 2.2px solid #c3073f;
  border-radius: 30px;
  font-weight: 500;
  color: white !important;
  padding: 12px 48px;
  text-transform: uppercase;
  box-shadow: 0 0 6px #808080;
}
